* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100%;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 15vh;
    padding: 16px 20px;
    border: 1px solid black;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 75vh;
    margin: 0 auto;
    padding: 20px;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

iframe {
    width: 100%;
    height: 100%;
}

footer {
    width: 100%;
    height: 10vh;
    padding: 16px 20px;
    text-align: center;
    border: 1px solid black;
}